//
// Colors
//

// Override Bootstrap color systel colors

$blue: rgba(255, 136, 0, 1);
$purple: rgba(255, 136, 0, 0.5);

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $purple;
